<main>
<p id="notice"><%= notice %></p>
<div class="profile" id="message">

<dl>
  <dt>Sender</dt>
  <dd><%= self.get_profile_name(@message.sender_id) %></dd>
  <dt>Subject</dt>
  <dd><%= @message.subject %></dd>
  <dt>Message</dt>
  <dd><%= @message.message %></dd>
</dl>
<%= render 'read', message: @message %>
</div>
</main>
