<main>
  <p id="notice"><%= notice %></p>
  <div class="profile">
    <figure>
    <%= image_tag @tutor_profile.profile_image %>
    </figure>
    <dl>
      <dt>Name</dt>
      <dd><%= @tutor_profile.first_name %> <%= @tutor_profile.last_name %></dd>

      <dt>Address</dt>
      <dd><%= @tutor_profile.suburb %> <%= @tutor_profile.state %> <%= @tutor_profile.postcode %> <%= @tutor_profile.country %></dd>

      <dt>Categories</dt>
      <dd><%= @tutor_profile.categories %></dd>

      <dt>About <%= @tutor_profile.first_name %></dt>
      <dd><%= @tutor_profile.bio %></dd>
    </dl>

<% if current_user.has_role? :admin %>
  <%= link_to 'Edit', edit_tutor_profile_path(@tutor_profile) %> |
<% end %>
<%= link_to 'Back', tutor_profiles_path %>

<% unless @tutor_profile.user_id == current_user.id %>
  <span><%= link_to 'Message', new_message_path(receiver: @tutor_profile.user_id), class: 'message' %></span>
<% end %>
</div>
</main>
