<main>
  <p id="notice"><%= notice %></p>
  <div class="profile">
    <dl>
      <dt>Name</dt>
      <dd><%= @student_profile.first_name %> <%= @student_profile.last_name %></dd>

      <dt>Address</dt>
      <dd><%= @student_profile.suburb %> <%= @student_profile.state %> <%= @student_profile.postcode %> <%= @student_profile.country %></dd>

      <dt>Categories</dt>
      <dd><%= @student_profile.categories %></dd>

      <dt>About <%= @student_profile.first_name %></dt>
      <dd><%= @student_profile.bio %></dd>
    </dl>

<% if current_user.has_role? :admin %>
  <%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<% end %>
<%= link_to 'Back', student_profiles_path %>

<% unless @student_profile.user_id == current_user.id %>
  <span><%= link_to 'Message', new_message_path(receiver: @student_profile.user_id), class: 'message' %></span>
<% end %>
</div>
</main>
